#botao-nova-fonte {
    margin-bottom: 5px;
}

form {
    height: 0;
    color: white;
    background-color: rgb(69, 85, 92);
    overflow: hidden;
    transition-duration: 0.3s;
}
form.ativo {
    height: 100px;
    padding: 5px;
    border: 2px rgb(210, 248, 255) groove;
    border-radius: 10px;
}

label {
    display: block;
}

button {
    padding: 5px;
    border: 2px rgb(210, 248, 255) ridge;
    border-bottom-width: 4px;
    border-radius: 10px;
    transform: translateY(0);
    font-family: monospace;
    background-color: aliceblue;
    transition-duration: 0.2s;
}
button:active {
    border-bottom-width: 2px;
    transform: translateY(2px);
}

table {
    border: 2px rgb(210, 248, 255) groove;
    border-radius: 10px;
}
